<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.integration.ClientMapper">
    <!-- Preference -->
	<resultMap type="Preference" id="PreferenceMap">
		<id property="id"  column="CLIENT_ID" />                     
        <result property="investmentPurpose"  column="INVESTMENT_PURPOSE" />
		<result property="riskTolerance"		column="RISK_TOLERANCE" typeHandler="com.fidelity.business.RiskToleranceHandler" />
        <result property="incomeCategory"		column="INCOME_CATEGORY" typeHandler="com.fidelity.business.IncomeCategoryHandler"/>
        <result property="lengthOfInvestment"		column="LENGTH_OF_INVESTMENT" typeHandler="com.fidelity.business.LengthOfInvestmentHandler"/>
        <result property="isChecked"		column="IS_CHECKED" />
    </resultMap>


	<select id="getAllPreference" resultMap="PreferenceMap">
	    	SELECT p.client_id, 
					   p.investment_purpose, 
					   p.risk_tolerance, 
					   p.income_category,
					   p.length_of_investment,
                       p.is_checked  
				FROM  ft_preference p
				ORDER BY  p.client_id
	</select>
	
	<select id="getPreferenceById" resultMap="PreferenceMap">
	    	SELECT p.client_id, 
					   p.investment_purpose, 
					   p.risk_tolerance, 
					   p.income_category,
					   p.length_of_investment,
                       p.is_checked  
				FROM  ft_preference p
				WHERE  client_id = #{id}
				ORDER BY  p.client_id
				
	</select>

	<insert id="insertPreference" parameterType="Preference">
        INSERT INTO ft_preference
			    (
                client_id, 
                investment_purpose, 
                risk_tolerance, 
                income_category, 
                length_of_investment,
                is_checked
                ) 
			VALUES (
                #{id},
                #{investmentPurpose},
                #{riskTolerance},
                #{incomeCategory},
                #{lengthOfInvestment},
                #{isChecked}
            )	
	
	</insert>

	<update id="updatePreference" parameterType="Preference">
		UPDATE ft_preference
		SET    investment_purpose =#{investmentPurpose},
		       risk_tolerance =#{riskTolerance},
               income_category=#{incomeCategory},
               length_of_investment=#{lengthOfInvestment}
		WHERE  client_id = #{id}
	</update>
</mapper>