<app-navbar></app-navbar>
<app-banner
  mainText= 'Trade History'
  subText= 'All your transactions in one place'
></app-banner>
<div class="card-table" >      
    <table *ngIf="trades.length" cellspacing="0">
        <thead>
            <th>Instrument</th>
            <th>Trade Date/Time</th>            
            <th>Type</th>
            <th>Shares</th>
            <th>Price</th>
        </thead>
        
        <tbody>
            <tr *ngFor="let trade of trades.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
                <td>{{ getInstrumentName(trade.instrumentId)}}</td>
                <td>{{trade.orderTimestamp}}</td>
                <td [ngStyle]="{'color' : (trade.direction.stringValue == 'BUY') ? '#2F4858' : '#336699'}">
                    {{trade.direction.stringValue }}
                </td>
                <td>{{trade.quantity}}</td>
                <td>&dollar;{{ getInstrumentAskPrice(trade.instrumentId)}}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="pagination" *ngIf="trades.length">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        <span>{{currentPage}} / {{totalPages}}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>

    <div id="notrades" *ngIf="!trades.length">No trading history available !</div>
</div>

<app-footer></app-footer>