<app-navbar></app-navbar>
<div class="card-table" >    
    <h3>trade History</h3>
    <hr>
    <table *ngIf="trades.length" cellspacing="0">
        <thead>
            <th>Stock</th>
            <th>trade Date/Time</th>            
            <th>Type</th>
            <th>Shares</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let trade of trades">
                <td>{{trade.instrumentId}}</td>
                <td>{{date}}</td>
                <td [ngStyle]="{'color' : (trade.direction.stringValue == 'BUY') ? '#2F4858' : '#336699'}">
                    {{trade.direction.stringValue }}
                </td>
                <td>{{trade.quantity}}</td>
                <td>&dollar;{{trade.targetPrice}}</td>
            </tr>
        </tbody>
    </table>
    
    <div id="notrades" *ngIf="!trades.length">No trading history available !</div>
</div>
