<header>
  <nav>
    <div class="nav-logo">
      <a routerLink="/">
        <img
          src="../../assets/trade-logo.png"
          alt="Trading App Logo"
          class="logo"
        />
        FidTrade</a
      >
    </div>

    <ul class="nav-links">
      <div *ngIf="isLoggedIn()">
        <a routerLink="/" (click)="checkIfLoggedIn()">Home</a>
        <a routerLink="/portfolio" (click)="checkIfLoggedIn()">Portfolio</a>
        <a routerLink="/trade-history" (click)="checkIfLoggedIn()">Trade History</a>
        <a routerLink="/explore" (click)="checkIfLoggedIn()">Explore</a>      
        <a *ngIf="newUser; else updatePref" routerLink="/preferences/add" (click)="checkIfLoggedIn()">Preferences</a>
        <ng-template #updatePref >        
          <a routerLink="/preferences/update" (click)="checkIfLoggedIn()">Preferences</a>
        </ng-template>
        <a routerLink="/roboadvisor" (click)="checkIfLoggedIn()">Robo Advisor</a>
        <a routerLink="/report" (click)="checkIfLoggedIn()">Reports</a>
      </div>

      <div *ngIf="!isLoggedIn()">
        <a routerLink="/">Home</a>
        <a routerLink="/explore">Explore</a>
      </div>
    </ul>
  </nav>
</header>
