/* Navbar */
header {
  background-color: #2f4858; /* Dark background color */
  color: antiquewhite; /* Light text color */
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add horizontal padding */
}

.nav-logo a {
  font-size: 1.8rem;
  color: #f18d05; /* Contrasting color for the app name */
  text-decoration: none;
  font-weight: bold; /* Make the app name bold */
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center-align the links horizontally */
}

/* .nav-links li {
  margin-right: 20px;
} */

.nav-links a {
  color: antiquewhite; /* White link text */
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold; /* Make the link text bold */
  padding: 10px 15px; /* Add padding around the links */
  border-radius: 5px; /* Add rounded corners to the links */
}

.nav-links a:hover {
  background-color: #336699; /* Background color on hover */
  color: #fff; /* Text color on hover */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Add a mobile responsive menu icon */
.nav-toggle {
  display: none; /* Initially hidden on larger screens */
  font-size: 24px;
  cursor: pointer;
  color: #fff; /* White menu icon color */
}

/* Adjustments for mobile responsiveness */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide the links on smaller screens */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 60px; /* Adjust the top position to avoid overlapping header */
    right: 20px;
    background-color: #2f4858; /* Dark background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
  }

  .nav-links.show {
    display: flex; /* Show the links when the menu is active */
  }

  .nav-toggle {
    display: block; /* Show the menu icon on smaller screens */
  }
}
