<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.integration.PortfolioMapper">
	
	<resultMap id="orderResultMap" type="Order">
	    <result property="orderId" column="oid"/>
	    <result property="clientId" column="clientid"/>
	    <result property="instrumentId" column="instrumentid"/>
	    <result property="quantity" column="quantity"/>
	    <result property="targetPrice" column="targetprice"/>
	    <result property="direction" column="direction"/>
	    <result property="orderTimestamp" column="ordertimestamp"/>
	</resultMap>

	<resultMap id="tradeResultMap" type="Trade">
	    <result property="clientId" column="clientid"/>
	    <result property="tradeId" column="tid"/>
	    <result property="instrumentId" column="instrumentid"/>
	    <result property="quantity" column="quantity"/>
	    <result property="direction" column="direction"/>
	    <result property="targetPrice" column="targetprice"/>
	    <result property="executionPrice" column="executionprice"/>
	    <result property="cashValue" column="cashvalue"/>
	    <result property="orderTimestamp" column="ordertimestamp"/>
	    <result property="tradeTimestamp" column="tradetimestamp"/>
	
	    <!-- Include a nested resultMap for the Order class -->
	    <association property="order" resultMap="orderResultMap"/>
	</resultMap>

	
	<select id="getPortfolio" resultType="Trade" parameterType="String">
		select o.clientid, t.id, o.id, o.instrumentid, o.quantity, o.direction, o.targetprice, t.executionprice, t.cashvalue, o.ordertimestamp, t.tradetimestamp 
		from ft_trade t left join ft_order o on t.clientid= o.clientid and t.orderid= o.id where t.clientid= #{value} and t.direction= 'B'
	</select>
</mapper>