<section>
  <app-navbar></app-navbar>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block img-container">
              <img
                src="https://cdn4.vectorstock.com/i/1000x1000/69/18/stock-market-trader-looking-at-multiple-computer-vector-19626918.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label">First Name</label>
                        <input
                          type="text"
                          class="form-control form-control-md"
                          formControlName="fName"
                          required
                        />
                        <span class="text-danger" *ngIf="(submitted && registrationData.fName.hasError('required')) || (registrationData.fName.touched && !registrationData.fName.dirty)">
                          First Name is required
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label">Last Name</label>
                        <input
                          type="text"
                          class="form-control form-control-md"
                          formControlName="lName"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="email">
                      Email ID</label
                    >
                    <input
                      class="form-control form-control-md"
                      [class.is-invalid]
                      type="email"
                      name="email"
                      id="email"
                      formControlName="email"
                      required
                    />
                    <span class="text-danger" *ngIf="(registrationData.email.touched || submitted) && registrationData.email.errors?.['required']">
                      Email address is required    
                    </span>
                    <span class="text-danger" *ngIf="registrationData.email.touched && registrationData.email.errors?.['email']">
                        Enter a valid email address [Format: test@example.com]
                    </span>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input
                      class="form-control form-control-md"  
                      type="password"
                      name="password"
                      id="password"
                      formControlName="password"
                      required
                    />
                    <span class="text-danger" *ngIf="(submitted || registrationData.password.touched) && registrationData.password.hasError('required')">
                      Password cannot be empty. 
                    </span>
                    <span class="text-danger" *ngIf="(submitted || registrationData.password.dirty) && registrationData.password.hasError('pattern')">
                      Password should have a 8-12 characters, at least 1 uppercase, 1 lowercase letter and 1 number
                    </span>
                    <span class="text-success" *ngIf="(submitted || registrationData.password.dirty) && !registrationData.password.hasError('required') && !registrationData.password.hasError('pattern')">
                      Valid Password
                    </span>
                  </div>
                  
                  <div class="row">
                    <div class="form-outline mb-4 col-md-6">
                      <label class="form-label">Date Of Birth</label>
                      <input
                        type="date"
                        class="form-control form-control-md"
                        formControlName="dob"
                        [max]="currentDate"
                        required
                      />
                      <span class="text-danger" *ngIf="(registrationData.dob.touched || submitted) && registrationData.dob.hasError('required')">
                        Date of birth is required    
                      </span>
                      <span class="text-danger" *ngIf="registrationData.dob.touched && registrationData.dob.hasError('minimumAge')">
                        Age must be more than 18 years    
                      </span>
                    </div>
                    
                    <div class="col-md-6 mb-4">
                      <label for="country" class="form-label">Country</label>
                      <select
                        id="country"
                        class="form-select"
                        formControlName="country"
                      >
                        <option value="" disabled selected>-- Select a country --</option>
                        <option value="India">India</option>
                        <option value="United States">United States</option>
                        <option value="Ireland">Ireland</option>
                      </select>
                      <span class="text-danger" *ngIf="(registrationData.country.touched || submitted) && registrationData.country.hasError('required')">
                        Country is required    
                      </span>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4 mb-4" [ngSwitch]="registrationForm.get('country')?.value">
                      <label for="postal-code" *ngSwitchCase="'India'">PIN Code</label>
                      <label for="postal-code" *ngSwitchCase="'United States'">ZIP Code</label>
                      <label for="postal-code" *ngSwitchCase="'Ireland'">EIR Code</label>
                      <input
                        *ngIf="registrationForm.get('country')?.value"
                        class="form-control form-control-md"
                        type="text"
                        id="postal-code"
                        name="postal-code"
                        formControlName="postalCode"
                        required
                      />
                      <span class="text-danger" *ngIf="registrationForm.get('country')?.value && ((registrationData.postalCode.touched || submitted) && registrationData.postalCode.hasError('required'))">
                        Postal code is required    
                      </span>
                    </div>
  
                    <div class="col-md-8 mb-4" [ngSwitch]="registrationForm.get('country')?.value">
                      <label for="identification" *ngSwitchCase="'India'">Aadhaar</label>
                      <label for="identification" *ngSwitchCase="'United States'">SSN</label>
                      <label for="identification" *ngSwitchCase="'Ireland'">Passport</label>
                      <input
                        *ngIf="registrationForm.get('country')?.value"
                        class="form-control form-control-md"
                        type="text"
                        id="identification"
                        name="identification"
                        formControlName="identification"
                        placeholder="Enter valid document details"
                        required
                      />
                      <span class="text-danger" *ngIf="registrationForm.get('country')?.value && ((registrationData.identification.touched || submitted) && registrationData.identification.hasError('required'))">
                        Id value is required    
                      </span>
                    </div>
                  </div>
                  
                  <div class="d-flex justify-content-end pt-3">                    
                    <p class="col-md-8 mt-3">
                      Already have an account?&nbsp;<a routerLink="/login">Login here</a>
                    </p>
                    <button type="submit" class="btn btn-lg ms-2 col-md-4">
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
