<app-navbar></app-navbar>
<app-banner
  mainText= 'Reports'
  subText= 'View all your trades here'
></app-banner>
<body>
    <div class="container">
        <div class="button-container">
            <button class= "btn" id="button1" (click)="loadBuyReport()">Buy Report</button>
            <button class= "btn" id="button2" (click)="loadSellReport()">Sell Report</button> 
        </div>
    </div>

    <table *ngIf="reports.length && selectedReport">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>ClientID</th>
                <th>InstrumentID</th>
                <th>Target Price</th>
                <th>Direction</th>
                <th>Quantity</th>
                <th>Trade Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of reports">
                <td>{{r.orderId}}</td>
                <td>{{r.clientId}}</td>
                <td>{{r.instrumentId}}</td>
                <td>{{r.targetPrice}}</td>
                <td>{{r.direction}}</td>
                <td>{{r.quantity}}</td>
                <td>{{r.orderTimestamp}}</td>
            </tr>
        </tbody>
    </table>

    <div id="noreports" *ngIf="!reports.length && selectedReport"><h2>No trades to show</h2></div>
</body>