<app-navbar></app-navbar>
<body><div class="center">
    <h2>SELECT A REPORT</h2>
</div>

<div class="button-container">
    <button id="button2">CONFIRMATION REPORT</button>
    <button id="button2">BUY REPORT</button>
    <button id="button2">SELL REPORT</button>
   
</div>
<div class="cent">
    <button class="button1" (click)="loadReport()">GENERATE REPORT</button>
</div>
<table *ngIf="reports.length">
    <thead>
        <tr>
            <th>TradePrice</th>
            <th>TradeType</th>
            <th>TaxInfo</th>
            <th>Currency</th>
            <th>TradeDate</th>
            <th>ConfirmationDate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of reports">
            <td>{{r.orderId}}</td>
            <td>{{r.clientId}}</td>
            <td>{{r.instrumentId}}</td>
            <td>{{r.targetPrice}}</td>
            <td>{{r.direction}}</td>
            <td>{{r.quantity}}</td>
            <!-- <td>{{r.orderTimestamp}}</td> -->
        </tr>
        <!-- <tr *ngFor="let d of data">
            <td>{{d.id}}</td>
        </tr> -->
    </tbody>
</table>

<!-- <div id="nobooks" *ngIf="!reports.length"><h2>Click on Generate Reports to View report</h2></div> -->
</body>