<app-navbar></app-navbar>
<section style="background-color: rgb(228, 226, 226);">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block img-container">
                <img
                  src="https://cdn4.vectorstock.com/i/1000x1000/69/18/stock-market-trader-looking-at-multiple-computer-vector-19626918.jpg"
                  alt="Sample photo"
                  class="img-fluid"
                  style="
                    border-top-left-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem;
                  "
                />
              </div>
              
              <div class="col-xl-6">
                <div>
                    <h3 style="font-weight: bolder; text-align:center; padding-top:20px;">Update Preferences</h3>
                  </div>
                <div class="card-body p-md-5 text-black">
                <form [formGroup]="updateForm" (ngSubmit)="updatePreference()">
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="purpose">Investment Purpose</label> 
                          <input type="text"  formControlName="purpose" class="form-control form-control-md">
                        </div>
                      </div>
                      <div class="row">
                      <div class="col-md-8 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="risk">Risk Tolerance</label>
                          <select formControlName="risk" class="form-select">
                            <option value="" disabled selected>Choose the level of risk tolerance</option>
                            <option *ngFor="let risk of riskTolerance">{{risk}}</option>
                       </select>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="income">Income Category</label>
                      <select formControlName="income" class="form-select">
                        <option value="" disabled selected>Choose the category</option>
                        <option *ngFor="let income of incomeCategory">{{income}}</option>
                    </select>
                     
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="length">Length of Investment</label>
                      <select formControlName="length" class="form-select">
                        <option value="" disabled selected>Choose the length</option>
                        <option *ngFor="let length of lengthOfInvestment">{{length}}</option>
                    </select>
                  
                
                    </div>
              </div>
              <div>
                <button class="btn btn-lg ms-2" type="submit" [disabled]="updateForm.invalid">Submit</button>
              </div>
              </form>
            </div>
            </div>
          </div>
          </div></div>
        </div>
      </div>
   
  </section>