<p>portfolio-page works!</p>

<h2>Name of stock</h2> <span>Current price</span>

<section class="container">
  <section class="main-part">
    <article>
      <div>info card 1</div>
      <div>info card 2</div>
      <div>info card 3</div>
    </article>

    <figure>
      <p>A Chart to show info</p>
    </figure>
  </section>
  <aside class="side-part">
    <button>Buy</button>
    <button>Sell</button>
    <div>
      A form that changes based on button press
      <button>Confirm</button>
    </div>
  </aside>
</section>
