section{
    padding: 2rem;
}
.portfolio-section {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.portfolio-section div:first-child{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
.section-title {
    font-size: 1.8rem;
}

.total-holdings, .money-wallet {
    font-size: 2rem;
}

.total-holdings {
    color: #3498db;
}

.money-wallet {
    color: #e74c3c;
}

.card-table, .portfolio-section{    
    box-shadow: 1px 1px 29px -7px rgba(0,0,0,0.83);
    -webkit-box-shadow: 1px 1px 29px -7px rgba(0,0,0,0.83);
    -moz-box-shadow: 1px 1px 29px -7px rgba(0,0,0,0.83);  
    border-radius: 10px;
    max-width: 60%;
    padding: 1.5rem;
    margin: 2rem auto;
    font-family: Montserrat, sans-serif;
}
h3{
    margin-top: 0;
    color: rgb(82, 82, 82);
}
table{
    width:-webkit-fill-available;
}
td{
    padding: 1rem 0 1rem 2rem;
    font-size: 0.9rem;    
    width: 20%;
    text-align: right;
}
th{
    width: 20%;
    color: rgb(82, 82, 82);
    text-align: right;
    padding: 1rem 0;
}
th span, td span{
    font-size: 0.7rem;
}
th:first-child, td:first-child{
    padding-left: 0;
    text-align: left;
}
td:nth-child(3){
    color: #2F4858; 
    font-weight: 600;
}
tr:hover{
    background-color: rgb(233, 240, 241); 
    cursor: pointer;
}
#notrades{
    margin: 0 auto;
}

button.buy{
    /* border: 1px #F9ADA0  solid; */
    border:none;
    background-color: #D0F4DE;
    color:#2f4858;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
  }

  button.sell{
    /* border: 1px #F9ADA0  solid; */
    border:none;
    background-color: #f4d0d0;
    color:#2f4858;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
  }
  
  button:hover{
    background-color: #2f4858;
    color: white;
  }