<app-navbar></app-navbar>
<section>
  <div class="portfolio-section overview-card row">
    <div class="col-md-6">
        <div class="holdings">        
            <h3 class="section-title">Total Holdings</h3>
            <div class="total-holdings">&dollar;{{ totalHoldings | number : "1.2-2" }}</div>
        </div>
        <div class="wallet">
            <h3 class="section-title">Wallet Balance</h3>
            <div class="money-wallet">&dollar;{{ 1000000 - totalCashValue | number : "1.2-2" }}</div>
        </div>
    </div>
    <div class="chart col-md-6" *ngIf="portfolioData.length != 0 && portfolioLabels.length != 0">
        <h3 class="section-title">Portfolio Allocation</h3>
        <app-portfolio-chart
          [chartData]="portfolioData"
          [chartLabels]="portfolioLabels"
        ></app-portfolio-chart>
    </div>
  </div>

  <div class="card-table">
    <h3>Your Portfolio</h3>
    <hr />
    <table *ngIf="trades != null && trades.length" cellspacing="0">
      <thead>
        <th>Instrument</th>
        <th>Shares <br /><span>Category</span></th>
        <th>Type <br /><span>&percnt; Holdings</span></th>
        <th>Price <br /><span>&percnt; Change</span></th>
        <th>Value <br /><span>Gain/Loss</span></th>
      </thead>
      <tbody>
        <tr *ngFor="let trade of trades" [routerLink]="['/instrument', trade.instrumentId]">
          <td>{{ getInstrumentName(trade.instrumentId) }}</td>
          <td>
            {{ trade.quantity }}
            <br />
            <span>
              <i>{{ getInstrumentCategory (trade.instrumentId )}}</i>
            </span>
          </td>
          <td>
            BUY
            <br />
            <span
              >{{
                ((1 +
                  (getInstrumentAskPrice(trade.instrumentId) - trade.executionPrice) /
                    trade.executionPrice) *
                  trade.cashValue *
                  100) /
                  totalHoldings | number : "1.2-2"
              }}
              &percnt;</span
            >
          </td>
          <td>
            &dollar;{{ getInstrumentAskPrice(trade.instrumentId) | number : "1.2-4" }}
            <br />
            <span
              [ngStyle]="{
                color:
                  trade.executionPrice < getInstrumentAskPrice(trade.instrumentId)
                    ? 'green'
                    : trade.executionPrice > getInstrumentAskPrice(trade.instrumentId)
                    ? 'red'
                    : 'gray'
              }"
            >
              {{
                ((getInstrumentAskPrice(trade.instrumentId) - trade.executionPrice) * 100) /
                  trade.executionPrice | number : "1.2-2"
              }}
              &percnt;
            </span>
          </td>
          <td>
            {{
              (1 +
                (getInstrumentAskPrice(trade.instrumentId) - trade.executionPrice) / trade.executionPrice) *
                trade.cashValue | number : "1.2-2"
            }}
            <br />
            <span
              [ngStyle]="{
                color:
                  trade.cashValue -
                    (1 +
                      (getInstrumentAskPrice(trade.instrumentId) - trade.executionPrice) /
                        trade.executionPrice) *
                      trade.cashValue <
                  0
                    ? 'green'
                    : trade.cashValue -
                        (1 +
                          (getInstrumentAskPrice(trade.instrumentId) - trade.executionPrice) /
                            trade.executionPrice) *
                          trade.cashValue >
                      0
                    ? 'red'
                    : 'gray'
              }"
            >
              &dollar;
              {{
                abs(
                  trade.cashValue -
                    (1 +
                      (getInstrumentAskPrice(trade.instrumentId) - trade.executionPrice) /
                        trade.executionPrice) *
                      trade.cashValue
                ) | number : "1.2-2"
              }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="notrades" *ngIf="trades == null || !trades.length">
      No active investments available !
    </div>
  </div>
</section>
