<app-navbar></app-navbar>
<app-banner
  [mainText]="instrument?.instrumentDescription || '' | slice : 0 : 12"
  [subText]="(prices?.askPrice | currency) || '0.00'"
></app-banner>

<section class="container">
  <section class="main-part">
    <!-- <article>
      <div>52 week high:{{h52w}}</div>
      <div>52 week low:{{l52w}}</div>
      <div>Min</div>
      <div></div>
    </article> -->

    <figure>
      <div>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.x_axis"
          [title]="chartOptions.title"
          [noData]="chartOptions.noData"
          [stroke]="chartOptions.stroke"
          [dataLabels]="chartOptions.dataLabels"
        ></apx-chart>
      </div>
    </figure>
  </section>
  <aside class="side-part">
    <form [formGroup]="buyForm" (ngSubmit)="submitTrade()">
      <span>
        <label for="title">Price</label>
        <input type="text" id="title" formControlName="price" />
      </span>
      <span>
        <label for="author">Quantity</label>
        <input type="text" id="author" formControlName="quantity" />
      </span>
      <span>
        <span>Total: </span>
        <span>{{ getTotalPrice() | number : "1.2-3" }}</span>
      </span>
      <span>
        <span>Execution Price(5%)</span>
        <span>{{ getExecPrice() | number : "1.2-3" }}</span>
      </span>
      <span class="subm">
        <button type="submit" [disabled]="!isFormValid()">Buy</button>
      </span>
    </form>
  </aside>
</section>
