.container {
  display: flex;
  width: 90%;
}

.main-part {
  width: 70%;
  margin: 1rem;
  margin-right: 0;
}

.side-part {
  width: 30%;
  margin: 1rem;
  margin-left: 0;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 1rem;
  background-color: var(--color-coffee);
  color: white;
  font-weight: 500;
}

.side-part span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-part span input {
  border-radius: 10px;
  margin: 2px 6px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  width: 70%;
  padding: 4px
}


button {
  border: none;
  color: #2f4858;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
}

button:hover {
  background-color:  var(--color-orange);
  color: white;
}

figure {
  border: 1px #ababab solid;
  padding: 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
  margin: 0rem;
}

span.subm{
  flex-grow: 3;
}

span.subm.buy button{
  background-color:  #d0f4de;
}

span.subm.sell button{
  background-color: #f4d0d0;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

span{
  margin: 1rem 0 0 0 ;
}
