/* Background color */
body {
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Hero section */
.hero {
  /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/022/659/642/small/3d-growth-stock-diagram-financial-graph-isolated-on-transparent-background-business-candlestick-chart-investment-market-trade-exchange-analysis-and-economy-finance-report-png.png"); 
  background-size: cover;  */
  color: var(--color-gray);
  background-color: var(--color-gray);
  background-blend-mode: rgb(70, 66, 66);
  background-position: center;
  color: #2f4858;
  text-align: center;
  padding: 100px 0;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  width: 15%;
  margin-bottom: 20px;
}

.hero-content {
  max-width: 60%;
  margin: 0 auto;
  transform: translateY(-20px);
  animation: slideUp 1.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(-20px);
  }
}

.hero h1 {
  font-size: 3.5vw;
}
.hero h2{
  font-size: 1.5vw;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.cta-buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary {
  /* background-color: var(--primary-color); */
  background-color: var(--color-brown);
  color: #fff;
  border-color: var(--color-brown);
}

.btn-secondary {
  background-color: var(--color-coffee);
  border-color: var(--color-coffee);
  color: #fff;
}

.btn-secondary:hover, .btn-primary:hover {
  background-color: var(--color-gray);
}

/* Featured Assets section */
.featured-assets {
  background-color: #ffffff;
  padding: 40px 0;
}

.featured-assets .section-title{
  font-size: 2.5rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-brown);
}

.asset-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-brown);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: antiquewhite;
}

.asset-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.asset-image img {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.asset-card:hover .asset-image img {
  transform: scale(1.1);
}

.asset-name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 10px;
  color: var(--color-gray);
}

.asset-description {
  margin-top: 10px;
  font-size: 1.1rem;
  color: var(--color-gray);
}

.asset-link {
  margin-top: 10px;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.asset-card:hover .asset-link {
  color: #82adbc;
}

/* Contacts section */
.contacts {
  background-color: var(--color-coffee);
  padding: 40px 0;
}

.contacts .section-title{
  color: var(--color-gray);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.contact-item i {
  font-size: 24px;
  margin-right: 10px;
  color: var(--color-gray);
}

.contact-item p {
  margin: 0;
  font-size: 1rem;
  color: var(--color-gray);
}


footer {
  background-color: var(--color-brown); /* Background color for the footer */
  color: #fff; /* Text color in the footer */
  padding: 10px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
