<!DOCTYPE html>
<html>

<head >
  <link rel="stylesheet" href="app.component.css"> 
</head>
<body>

  <header class="header">
    <div class="fidtrade">
    <h1 >Fid Trade</h1>
  </div>

    <div class="signupbtn ">
      <button type="submit">
        Sign Up
      </button>
    </div>

    <div class="loginbtn">
      <button type="submit">
        Log In
      </button>
    </div>

    <div class="About">
      <button type="submit" >
        About
      </button>
    </div>

  </header>

<section class="template">
      <div class="title" style="z-index: 10">
        <h1 class="subtitle" style="color:#000000">
          Welcome to Fid Trade <br />
          
        </h1>
        <h1 class="welcome" style="color: darkgreen ">
          Trading made Easyyy!
        </h1>
      </div>
      <div class="bg_image">
        <img src="./../assets/bg_img.PNG" width="750" height="400">
      </div>

</section>
</body>
</html>