<app-navbar></app-navbar>
<section class="hero">
  <div>
    <h2>Instruments</h2>
    <h3>Buy anything you want</h3>
  </div>
</section>

<section class="container">
  <table>
    <th>ID</th>
    <th>Type</th>
    <th>Category</th>
    <th>Description</th>
    <th></th>
    <tr *ngFor="let instrument of instruments">
      <td>
        <a [routerLink]="['/instrument', instrument.instrumentId]">{{
          instrument.externalId
        }}</a>
      </td>
      <td>{{ instrument.externalIdType }}</td>
      <td>
        <span class="tags">
          {{ instrument.categoryId | lowercase }}
        </span>
      </td>
      <td>{{ instrument.instrumentDescription }}</td>
      <td>
        <a [routerLink]="['/instrument', instrument.instrumentId]">
          <button>Buy</button>
        </a>
      </td>
    </tr>
  </table>
</section>
