<app-navbar></app-navbar>
<app-banner mainText="Instruments" subText="Buy anything you want"></app-banner>

<section class="container">
  <table>
    <th>ID</th>
    <th>Type</th>
    <th>Category</th>
    <th>Description</th>
    <th></th>
    <tr *ngFor="let instrument of instruments">
      <td>
        <a [routerLink]="['/instrument', instrument.instrumentId, 'buy']">{{
          instrument.externalId
        }}</a>
      </td>
      <td>{{ instrument.externalIdType }}</td>
      <td>
        <span class="tags">
          {{ instrument.categoryId | lowercase }}
        </span>
      </td>
      <td>{{ instrument.instrumentDescription }}</td>
      <td>
        <button
          [disabled]="ifLoggedIn()"
          (click)="clickedBuyButton(instrument.instrumentId)"
        >
          Buy
          <!-- <a [routerLink]="['/instrument', instrument.instrumentId]"> 
           </a> -->
        </button>
      </td>
    </tr>
  </table>
</section>

<app-footer></app-footer>
