<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.dao.PortfolioDao">


	
	<select id="getPortfolio" resultType="Trade">
		select o.clientid, t.id, o.id as orderid, o.instrumentid, o.quantity, o.direction, o.targetprice, t.executionprice, t.cashvalue, o.ordertimestamp, t.tradetimestamp 
		from ft_trade t left join ft_order o on t.clientid= o.clientid and t.orderid= o.id where t.clientid= ? and t.direction= 'B'
	</select>
</mapper>